<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="#">
            <img src="" alt="Logo" width="112" height="28">
        </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <div class="navbar-item">
                <p class="navbar-title">Assessment App</p>
            </div>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <button class="button is-light" [routerLink]="['../admin/login']">
                        Log in
                    </button>
                </div>
            </div>
        </div>
    </div>
</nav>

<!-- body content -->
<div class="body-content-container">
    <div class="body-content">
        <h1 class="content-header">
            Write a test
        </h1>
        <div class="form-field">
            <input #emailInput class="input" type="text" placeholder="Enter your email">
            
            <button class="button is-pulled-right is-primary" (click)="continueTest(emailInput.value)">
                Continue
            </button>
        </div>
        <br><span class="has-text-danger">{{errorInfo}}</span>
    </div>
</div>